<app-admin-navbar @fadeScaleAnimation></app-admin-navbar>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	<li [ngbNavItem]="1">
		<button ngbNavLink>Administradores</button>
		<ng-template ngbNavContent>
      <div class="box-especialistas">
        @for (administrador of administradores; track $index) {
          <app-user-favbutton
            [data]="data"
            [idUsuario]="administrador.id"
            nombreUsuario="{{ administrador.nombre }} {{ administrador.apellido }}"
            [fotoUsuario]="administrador.foto1"
          />
        }
      </div>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<button ngbNavLink>Especialistas</button>
		<ng-template ngbNavContent>
      <div class="box-especialistas">
        @for (administrador of especialistas; track $index) {
          <app-user-favbutton
            [data]="data"
            [idUsuario]="administrador.id"
            nombreUsuario="{{ administrador.nombre }} {{ administrador.apellido }}"
            [fotoUsuario]="administrador.foto1"
          />
        }
      </div>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<button ngbNavLink>Pacientes</button>
		<ng-template ngbNavContent>
      <div class="box-especialistas">
        @for (administrador of pacientes; track $index) {
          <app-user-favbutton
            [data]="data"
            [idUsuario]="administrador.id"
            nombreUsuario="{{ administrador.nombre }} {{ administrador.apellido }}"
            [fotoUsuario]="administrador.foto1"
          />
        }
      </div>
		</ng-template>
	</li>

  <li [ngbNavItem]="4">
		<button ngbNavLink>Todos los Usuarios</button>

		<ng-template ngbNavContent>
      <div class="box-especialistas">
        @for (administrador of administradores; track $index) {
          <app-user-favbutton
            [data]="data"
            [idUsuario]="administrador.id"
            nombreUsuario="{{ administrador.nombre }} {{ administrador.apellido }}"
            [fotoUsuario]="administrador.foto1"
          />
        }
      </div>

      <div class="box-especialistas">
        @for (administrador of especialistas; track $index) {
          <app-user-favbutton
            [data]="data"
            [idUsuario]="administrador.id"
            nombreUsuario="{{ administrador.nombre }} {{ administrador.apellido }}"
            [fotoUsuario]="administrador.foto1"
          />
        }
      </div>

      <div class="box-especialistas">
        @for (administrador of pacientes; track $index) {
          <app-user-favbutton
            [data]="data"
            [idUsuario]="administrador.id"
            nombreUsuario="{{ administrador.nombre }} {{ administrador.apellido }}"
            [fotoUsuario]="administrador.foto1"
          />
        }
      </div>

      <div class="qwerty">
        <button class="botonusuarios" (click)="onDownloadExcel()">
          Descargar excel con todos los usuarios
        </button>
      </div>
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
<router-outlet></router-outlet>
