<app-barranavinicial @fadeScaleAnimation></app-barranavinicial>

<section class="container" @slideInFromBottomAnimation>
  <div class="access bg-dark">
    <h5>Acceso Rápido:</h5>
    <div class="btn-container d-flex justify-content-around flex-wrap">
      <button *ngFor="let usuario of usuariosAccesoRapido" class="btn btn-secondary m-2" (click)="onButtonClick(usuario)">
        <img [src]="usuario.imagen" alt="Imagen de perfil" class="picture">
        <p>{{ usuario.tipo }}</p>
      </button>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="formulario" class="form bg-dark">
    <div class="mb-md-5 mt-md-4 pb-5">
      <h2 class="fw-bold mb-2 text-uppercase">{{ 'login.title' | translate }}</h2>
      <!-- <h2 class="fw-bold mb-2 text-uppercase">{{ 'login.title' | translate }}</h2> -->
      <p class="text-white-50 mb-5">{{ 'login.description' | translate }}</p>

      <div class="form-outline form-white mb-4">
        <input type="email" class="form-control form-control-lg" id="email" placeholder="name@example.com" formControlName="email" />
        <label class="form-label" for="email">{{ 'login.formOne' | translate }}</label>
        <div *ngIf="formulario.controls['email'].touched && formulario.controls['email'].invalid">
          <small class="invalid" *ngIf="formulario.controls['email'].hasError('required')">Debe ingresar su email.</small>
          <small class="invalid" *ngIf="formulario.controls['email'].hasError('email')">Ingrese un email válido.</small>
        </div>
      </div>

      <div class="form-outline form-white mb-4">
        <input type="password" class="form-control form-control-lg" id="password" formControlName="password" placeholder="password" />
        <label class="form-label" for="password">{{ 'login.formTwo' | translate }}</label>
        <div *ngIf="formulario.controls['password'].touched && formulario.controls['password'].invalid">
          <small class="invalid" *ngIf="formulario.controls['password'].hasError('required')">Debe ingresar su contraseña.</small>
        </div>
      </div>

      <button class="btn btn-outline-light btn-lg px-5" type="submit" [disabled]="formulario.invalid">Ingresar</button>
    </div>
  </form>
</section>
