<header class="header">
    <div class="logo">
        <img src="/assets/img/fotoclinica.jpg" alt="">
    </div>

    <div class="header-right">
        <div class="button-language">
            <button type="button" class="language-btn" (click)="onChangeLanguage('en')">
              <img src="assets/img/en-US.png" alt="">
            </button>
        
            <button type="button" class="language-btn" (click)="onChangeLanguage('es')">
              <img src="assets/img/es-ES.png" alt="">
            </button>
        
            <button type="button" class="language-btn" (click)="onChangeLanguage('pt')">
              <img src="assets/img/pt-BR.png" alt="">
            </button>
        </div>

        <a routerLink="/eleccionregistro" class="button button-ghost">{{ 'bienvenida.registrarse' | translate }}</a>
        <a routerLink="/login" class="button">{{ 'bienvenida.iniciarSesion' | translate }}</a>
    </div>
</header>

<section class="hero">
    <img src="https://cdn.prod.website-files.com/5d926c8ec092fbd8e0632e93/624470e6fa6f600290a9e46a_20220317_095059.jpg" alt="" class="image">

    <div class="box">
        <div>
            <h1 class="title">
                {{ 'bienvenida.title1' | translate }}
                <br>
                <span class="title_super">Christian Thomás Suarez Grecco</span>
            </h1>
            <p class="paragraph">
                {{ 'bienvenida.parrafo1' | translate }}
                <br>
                <br>
                {{ 'bienvenida.parrafo2' | translate }}
            </p>
        </div>

        <img src="/assets/img/cruz_transparente.png" alt="">
    </div>
</section>
<main class="main">
    <h2 id="about">{{ 'bienvenida.sobreNosotros.titulo' | translate }}</h2>

    <div class="cards">
        <article class="card">
            <img src="/assets/img/form1.jpg" alt="" class="card-image">
            <div class="body">
                <h3>{{ 'bienvenida.sobreNosotros.card1Titulo' | translate }}</h3>
                <p>{{ 'bienvenida.sobreNosotros.card1Descripcion' | translate }}</p>
            </div>
        </article>

        <article class="card">
            <img src="/assets/img/form2.jpg" alt="" class="card-image">
            <div class="body">
                <h3>{{ 'bienvenida.sobreNosotros.card2Titulo' | translate }}</h3>
                <p>{{ 'bienvenida.sobreNosotros.card2Descripcion' | translate }}</p>
            </div>
        </article>

        <article class="card">
            <img src="/assets/img/form3.jpg" alt="" class="card-image">
            <div class="body">
                <h3>{{ 'bienvenida.sobreNosotros.card3Titulo' | translate }}</h3>
                <p>{{ 'bienvenida.sobreNosotros.card3Descripcion' | translate }}</p>
            </div>
        </article>
    </div>
</main>