<div class="d-flex">
	<div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills flex-column" orientation="vertical">
    @for (e of especialidades; track $index) {
      <ng-container ngbNavItem="top">
        <button ngbNavLink (click)="onChangeSpecialty(e.especialidad)">{{ e.especialidad }}</button>
      </ng-container>
    }

    @if (especialidadActual) {
      <div>
          <div> {{ currentSpecialty }} </div>
          <div class="horario-container">
            @for (horario of especialidadActual.horarios; track $index) {
              <div class="horario-wrapper">
                @switch (horario.diaSemana) {
                  @case (1) {
                    <p class="dia">Lunes</p>
                  }
                  @case (2) {
                    <p class="dia">Martes</p>
                  }
                  @case (3) {
                    <p class="dia">Miercoles</p>                
                  }
                  @case (4) {
                    <p class="dia">Jueves</p>
                  }
                  @case (5) {
                    <p class="dia">Viernes</p>
                  }
                  @case (6) {
                    <p class="dia">Sabado</p>
                  }
                  @case (0) {
                    <p class="dia">Domingo</p>
                  }
                }
    
                @if (!horario.estaActivo) {
                  <p>No disponible</p>
                } @else {
                  <div class="horas">
                    <input type="time" class="input-time" [value]="horario.fechaInicio.toDate() | date:'HH:mm'" (change)="onChangeTime($event, horario.diaSemana, 'inicio')">
                    <input type="time" class="input-time" [value]="horario.fechaFinal.toDate() | date:'HH:mm'" (change)="onChangeTime($event, horario.diaSemana, 'final')">
                  </div>
                }
              </div>
            }
          </div>
              
        </div>
      }
    </div>

  
	<div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>